html, body {
  margin: 0;
  padding: 0;
  background-color: #212529;
}

canvas {
  display: block;
}

noscript > * {
  padding: 0rem 2rem;
}

h1, h2, h3, h4 {
  color: #DEE2E6;
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p, a, li {
  color: #DEE2E6;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.125rem;
}

ul { list-style-type: square }

a { color: #4796E3; }

a:visited { color: #9177C7; }

.nospace p{
  margin: 0;
}

#maincontent {
  padding: 1em 2em 0em 2em;
}

button {
  background-color: #495057;
  color: #DEE2E6;
}

.gradient-text {
  background: linear-gradient(90deg, #4796E3 0%, #9177C7 50%, #CA6673 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.schedule-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
  gap: 1rem;
}

.schedule-item > h3 {
  margin: 0;
  min-width: fit-content;
  padding: 2rem 1rem;
}

.blue { background-color: #4796E3; color: #000; }
.red { background-color: #CA6673; color: #000; }
.purple { background-color: #9177C7; color: #000; }